
  .menuItem{
      padding: 20px;
      font-weight: bold;
      font-size: 5px;
      letter-spacing: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .main{
    padding: 24px;
    flex-grow: 1;
  }
  .editor{
      margin: 1% 10%;
      width: 80%;
    border:3px solid #000;
  }